.features {
    display: flex;
    justify-content: center;
    padding-bottom: 53px;
    padding-top: 100px;
    padding-bottom: 142px;
    width: 100%;
    flex-direction: column;

    &__title {
        text-align: center;
        margin: 0;
        font-weight: bold;
        font-size: 36px;
        position: relative;
        margin-bottom: 48px;

        &::after {
            content: "";
            display: block;
            margin: 0 auto;
            width: 60px;
            padding-top: 48px;
            border-bottom: 2px solid $orange;
        }
    }

    &__row {
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    &__text {
        margin: 0;
        font-size: 18px;
        padding-top: 4px
    }

    &__description {
        display: flex;
        justify-content: center;
        flex-direction: column;
        max-width: 280px;

        &:not(:last-child) {
            margin-right: 80px;
        }
    }

    &__item {
        display: flex;
        align-items: center;
    }

    &__item-img {
        margin-right: 25px;
    }

    &__item-title {
        margin: 0;
        font-weight: bold;
        font-size: 26px;
    }
}