.feedback {
    display: flex;
    justify-content: center;
    padding-left: 20px;
    padding-top: 50px;
    width: 100%;
    align-items: center;

    &__info {
        width: 560px;
    }

    &__description {
        margin-bottom: 40px;
    }

    &__title {
        margin: 0;
        font-weight: bold;
        font-size: 36px;
        line-height: 58px;
        margin-bottom: 15px;
    }

    &__text {
        margin: 0;
        font-size: 20px;
        line-height: 27px;
        color: $grey;
    }
}

.form {

    &__input {
        font-weight: 300;
        font-size: 20px;
        line-height: 27px;
        padding: 10px;
        color: $grey;
        border: 1px solid rgba($color: $grey, $alpha: 0.1);
        border-radius: 8px;
        margin-right: 5px;
    }
}