.feedback {
    display: flex;
    justify-content: space-between;
    padding: 15rem 0;
    width: 100%;
    align-items: center;

    @media all and (max-width:1200px) {
        padding: 3.2rem 0;
    }

    @media all and (max-width:900px) {
        flex-direction: column-reverse;
    }

    @media all and (max-width: 400px) {
        padding: 2.5rem 0;
    }

    &__info {
        max-width: 56rem;
        width: 100%;

        @media all and (max-width:900px) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    &__description {
        margin-bottom: 4rem;

        @media all and (max-width:980px) {
            margin-bottom: 2rem;
        }
    }

    &__title {
        margin: 0;
        font-weight: bold;
        font-size: 3.6rem;
        margin-bottom: 1.5rem;

        @media all and (max-width:980px) {
            font-size: 3rem;
        }

        @media all and (max-width:900px) {
            font-size: 2.2rem;
            text-align: center;
        }
    }

    &__text {
        margin: 0;
        font-size: 2rem;
        color: $grey;

        @media all and (max-width:980px) {
            font-size: 1.8rem;
            max-width: 42rem;
        }

        @media all and (max-width:900px) {
            font-size: 1.4rem;
            text-align: center;
        }
    }

    &__img {
        position: relative;
        left: 8.5rem;
        height: 35.1rem;
        width: 57.7rem;

        @media all and (max-width:1350px) {
            width: 45rem;
            height: auto;
            left: 0;
            margin: 0 0 2rem;
        }

        @media all and (max-width:1150px) {
            margin-left: 10rem;
        }

        @media all and (max-width:980px) {
            width: 31rem;
            height: auto;
        }

        @media all and (max-width:900px) {
            width: 30rem;
            height: auto;
            margin: 0 0 2rem;
        }

        @media all and (max-width: 400px) {
            max-width: 26rem;
            height: auto;
            margin-bottom: 2rem;
        }
    }
}

.form {
    display: flex;

    @media all and (max-width: 750px) {
        flex-direction: column;
        align-items: center;
    }

    &__input {
        font-weight: 300;
        font-size: 2rem;
        padding: 1.2rem 1.5rem;
        border: 1px solid rgba($color: $bordergrey, $alpha: 1);
        border-radius: 8px;
        margin-right: 1rem;
        min-height: 5.1rem;
        display: flex;

        @media all and (max-width: 750px) {
            margin: 0 0 1.5rem;
        }

        @media all and (max-width: 310px) {
            max-width: 18rem;
        }

        @media all and (max-width: 250px) {
            max-width: 14rem;
        }


        &::placeholder {
            color: $grey;
            font-weight: 300;
            font-size: 2rem;
            padding: 1.2rem 1.5rem;
            margin-right: 1rem;
            min-height: 5.1rem;
            display: flex;

            @media all and (max-width:1200px) {
                font-size: 1.6rem;
                margin: 0;
                padding: 0;
            }
        }
    }
}