@font-face {
    font-family: Unkempt;
    src: url(/src/fonts/Unkempt-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: Unkempt;
    src: url(/src/fonts/Unkempt-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: Nunito Sans;
    src: url(/src/fonts/NunitoSans-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: Nunito Sans;
    src: url(/src/fonts/NunitoSans-LightItalic.ttf);
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: Nunito Sans;
    src: url(/src/fonts/NunitoSans-Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: Nunito Sans;
    src: url(/src/fonts/NunitoSans-Bold.ttf);
    font-weight: 600;
}