.footer {
    display: flex;
    justify-content: center;
    padding: 6.2rem 0;
    width: 100%;
    flex-direction: column;

    @media all and (max-width:1220px) {
        padding:  3.2rem 0;
    }

    @media all and (max-width: 500px) {
        padding: 2.5rem 0;
    }


    &__head {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 2.5rem;
        border-bottom: 2px solid rgba($color: $bordergrey, $alpha: 0.5);

        @media all and (max-width: 600px) {
            flex-direction: column;
            padding-bottom: 1.5rem;
        }

        @media all and (max-width: 400px) {
            padding-bottom: 1rem;
        }
    }

    &__nav {

        @media all and (max-width: 600px) {
            margin-top: 2rem;
        }
    }

    &__nav-item {
        text-decoration: none;
        color: $black;
        font-size: 1.6rem;

        @media all and (max-width: 800px) {
            margin-right: 2rem;
        }

        &:not(:last-child) {
            margin-right: 4.1rem;

            @media all and (max-width: 318px) {
                margin: 1rem 1rem 3rem;
            }

            @media all and (max-width: 260px) {
                margin: 0;
            }
        }


    }

    &__bottom {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        margin-top: 4rem;

        @media all and (max-width: 600px) {
            flex-direction: column-reverse;
            margin-top: 1rem;
        }

        @media all and (max-width: 400px) {
            margin-top: 1rem;
        }
    }

    &__copyright {
        font-size: 1.6rem;
        color: rgba($color: $grey, $alpha: 0.6);

        @media all and (max-width: 600px) {
            margin-top: 1rem;
        }
    }
}

.socials {
    display: flex;
    align-items: center;

    &__link {
        padding: 1rem;

        &:not(:last-child) {
            margin-right: 2.7rem;
        }
    }
}