.life {
    display: flex;
    justify-content: space-between;
    padding-top: 7.3rem;
    padding-bottom: 11.3rem;
    width: 100%;
    align-items: center;


    &__img {
        margin-right: 10rem;
        position: relative;
        left: -2.7rem;
    }

    &__description {
        max-width: 560px;
        width: 100%;
    }

    &__title {
        margin: 0;
        font-weight: bold;
        font-size: 3.6rem;
        margin-bottom: 0.8rem;
    }

    &__text {
        margin: 0;
        font-size: 2rem;
    }
}