.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 116rem;

    @media all and (max-width:1220px) {
        padding: 0 2rem;
    }

    @media all and (max-width:400px) {
        padding: 0 1rem;
    }
}