.start {
    margin: 0;
    padding-top: 15px;
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;


    &__title {
        margin: 0;
        font-weight: bold;
        font-size: 48px;
        line-height: 58px;
        margin-bottom: 16px;
    }

    &__description {
        width: 431px;
        margin-right: 80px;
    }

    &__text {
        margin: 0;
        font-size: 20px;
        line-height: 27px;
        margin-bottom: 48px;
    }

    
}