.start {
    margin: 0;
    padding-top: 73px;
    padding-bottom: 73px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;


    &__title {
        margin: 0;
        font-weight: bold;
        font-size: 48px;
        margin-bottom: 16px;
    }

    &__img {
        position: relative;
        left: 20px;
    }

    &__description {
        max-width: 431px;
        width: 100%;
        margin-right: 80px;
    }

    &__text {
        margin: 0;
        font-size: 20px;
        margin-bottom: 48px;
    }
    
}

.arrow {
    position: relative;
    top: -2px;
    margin-left: 2px;
}